html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.friendList {
    background-color: #242628;
    width: 350px;
    height: 100%;
    text-align: center;
}

.friendBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 5px;
}

.showBox {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #2b2d31;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.messageBox {
    display: flex;
    align-items: center;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

#message {
    border: 1px solid #1d1f21;
    background-color: #34373b;
    margin-left: 10px;
    border-radius: 12px;
    width: 78%;
    height: 45px;
    margin-bottom: 10px;
    text-indent: 10px;
}

#friendBtn {
    padding: 9px 10px;
    background-color: #349376;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
}

#friendBtn:hover {
    background-color: #2a7861;
    box-shadow: 0 0 5px #349376; /* Blå glow-effekt */
}

#friendBtn:active {
    background-color: #349376;
}

#messageBtn {
    background-image: url('images/send.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    
}

#messageBtn:hover {
    opacity: 65%;
}

#messageBtn:active {
    opacity: 100%;
}

form {
    width: 100%;
    display: flex;
    gap: 10px;
}
#message {
   transition: box-shadow 0.2s ease-in-out;
    color: #d5d5d5;
}

#message:hover {
    box-shadow: 0 0 5px #349376; 
}

#message:focus {
    outline: none;
    box-shadow: 0 0 5px #349376;
}

#searchbar {
    color: #d5d5d5;
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid #1d1f21;
    background-color: #34373b;
    border-radius: 12px;
    width: 150px;
    margin-top: auto;
    height: 35px;
    text-indent: 10px;
    margin-bottom: auto;
}

#searchbar:hover {
    box-shadow: 0 0 5px #349376;
}

#searchbar:focus {
    outline: none;
    box-shadow: 0 0 5px #349376;
}



.displayMessages {
    max-width: 100%;
    max-height: fit-content;
    overflow-y: auto;
    margin-left: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;    
}

#username {
    font-weight: bolder;
    color: #edeef0;
}

#userMsg {
    color: #cbcfd2;
}

#receiver {
    color: #edeef0;
}

#receiverMsg {
    color: #cbcfd2;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: fit-content;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.messages {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 90%;
    white-space: normal;

}

.selectFriend {
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    padding: 10px 25px;
    width: 120px;
    font-size: medium;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    color: #ffffffe3;
    box-shadow: 0 0 5px #349376;
}

.selectFriend:hover {
    background-color: #2a7861;
}