<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/chatroomStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="friendList" id="friendsList">
            <div class="friendBar">
                <input type="text" name="searchbar" id="searchbar">
                <button id="friendBtn">Add Friend</button>
            </div>
            <div class="friendsColumn" id="friendsColumn">

            </div>
        </div>
        <div class="showBox">
            <div class="displayMessages" id="displayMessages">
            </div>
            
            <div class="messageBox">
                <input type="text" name="message" id="message" placeholder="Send message..">
                <button id="messageBtn" type="submit"></button>
            </div>

        </div>
    </div>
    <script>
        const username = "{{ username }}";
        let friends = {{ friends | tojson | safe }};
    </script>
    <script src="../static/chat.js"></script>

</body>

</html>