<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/chatroomStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
</head>

<!--
skulle du kunna lägga till en enskild div för alla meddelanden, som går att skrolla på också
sen försöka fixa friendslisten så att knapparna hamnar undervaran och kanske så att de inte ser ut-
som knappar men ändå går att klicka på om du förstår vad jag menar (som i vanliga sms appar liksom)
-->

<body>

    <div class="wrapper">
        <div class="friendList" id="friendsList">
            <div class="friendBar">
                <input type="text" name="searchbar" id="searchbar">
                <button id="friendBtn">Add Friend</button>
            </div>
        </div>
        <div class="showBox" id="showBox"> <!--jag la till id på denna för att testa så att sms syns-->
            <div class="displayMessages">
                <p>{{}}</p>
            </div>
            
            <div class="messageBox">
                <input type="text" name="message" id="message" placeholder="Send message..">
                <button id="messageBtn" type="submit"></button>
            </div>

        </div>
    </div>
    <script>
        const username = "{{ username }}";
        let friends = {{ friends | tojson | safe }};
    </script>
    <script src="../static/chat.js"></script>

</body>

</html>